@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali&display=swap');
*{
    font-family:'Noto Sans Bengali', sans-serif;
}


#myId{
    font-size: large;
}

.mynav a{
    margin-right: 20px;
    
}


.mynav a:hover{
    color: blue;
}

.navbar-brand{
   margin-left: 20px;
}

/* .sectionTwo{
    background-color: #dfe6e9;
} */

.card-title{
    font-weight: bolder;
    text-align: center;
}

.btn{
  margin-left: 10px;
  width: 140px;
}

#button1{
    margin-left: 50px;
}

#button2{
    margin-left: 50px;
}
#button3{
    margin-left: 50px;
}
#button4{
    margin-left: 50px;
}

.card{
    transition: .4s;
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.footer{
    background-color: #34495e;
    color: white;
}
